/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Main Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    user-select: none;
}
:root {
    --main-color: #2176ff;
    --white-color: #fff;
    --black-color: #31393c;
    --gray-color: #999;
    --rad-btn: 6px;
    --main-transition: 450ms;
}
body {
    background-image: url("../img/Bac-992.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Start Background Liner */
.background-liner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ffffff00, #fffffff3, #fff);
}
/* End Background Liner */
/* Start Content */
.container-box {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 500px;
    text-align: right;
}
.container-box .text {
    margin-bottom: 20px;
}
.container-box .text h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--black-color);
}
.container-box .text p {
    font-size: 22px;
    color: var(--gray-color);
    line-height: 1.7;
}
.container-box button {
    width: 100%;
    height: 50px;
    background-color: var(--black-color);
    border: none;
    border-radius: var(--rad-btn);
}
.container-box button a {
    color: var(--white-color);
    font-size: 18px;
}
/* End Content */
/* Media */
@media (max-width: 767px) {
    .container-box {
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 25px;
    }
}
/* Animation */
