@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
:root {
    --main-color: #1565c0;
    --main-color-alt: #0d47a1;
    --main-transition: 300ms;
    --main-border: 1px solid #eee;
    --main-rad-border-btn: 999999px;
    --main-rad-border-div: 20px;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #99a1aa;
}
body {
    background-color: #f6f6f8;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    min-height: 60px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: var(--main-border);
}
header .logo {
    font-size: 22px;
    color: var(--black-color);
    font-weight: bold;
}
section {
    margin-top: 60px;
    padding: 20px 0;
}
section .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
section .box {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: var(--main-rad-border-div);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
section .box .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    margin-bottom: 10px;
}
section .box .icon i {
    font-size: 22px;
}
section .box h3 {
    font-size: 22px;
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: 5px;
}
section .box p {
    color: var(--gray-color);
    font-size: 14px;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 10px;
}
section .box button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: var(--main-rad-border-btn);
    color: var(--white-color);
    background-color: var(--main-color);
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    transition: var(--main-transition);
}
section .box button:hover {
    background-color: var(--main-color-alt);
}
