@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
:root {
    --main-color: #1565c0;
    --main-color-alt: #0d47a1;
    --main-transition: 300ms;
    --main-border: 1px solid #eee;
    --main-rad-border-btn: 999999px;
    --main-rad-border-div: 20px;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #99a1aa;
}
body {
    background-color: #f6f6f8;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 10000000;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: var(--main-transition);
}
.overlay.show {
    pointer-events: auto;
    opacity: 1;
}
header {
    min-height: 60px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: var(--main-border);
    z-index: 100000;
}
header .logo {
    font-size: 22px;
    color: var(--black-color);
    font-weight: bold;
}
section {
    margin-top: 60px;
    padding: 20px 0;
}
section .info {
    text-align: center;
    margin-bottom: 10px;
}
.info .icon {
    margin-bottom: 10px;
}
.icon i {
    font-size: 50px;
    color: var(--main-color);
}
.info h3 {
    font-size: 30px;
    color: var(--black-color);
    font-weight: 500;
}
.info p {
    font-size: 18px;
    font-weight: 300;
    color: var(--gray-color);
    margin-top: 20px;
}
.btnAddSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#ffffff00, #ffffff80, #fff, #fff);
    z-index: 10000;
}
.btnAddSection button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: var(--main-rad-border-btn);
    color: var(--white-color);
    background-color: var(--main-color);
    font-size: 16px;
    cursor: pointer;
    transition: var(--main-transition);
    font-weight: 300;
}
.btnAddSection button:hover {
    background-color: var(--main-color-alt);
}
.btnAddSection p {
    margin-top: 5px;
    color: #ff2525;
    text-decoration: underline;
    cursor: pointer;
    transition: var(--main-transition);
    font-size: 16px;
    font-weight: 300;
}
.btnAddSection p:hover {
    color: #b91b1b;
}
section ul {
    list-style: none;
    padding-bottom: 80px;
}
section ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 10px 20px;
    border-radius: var(--main-rad-border-div);
    margin-bottom: 10px;
}
section ul li div {
    display: flex;
    align-items: center;
}
section li div span {
    color: var(--black-color);
    font-weight: bold;
    margin-left: 10px;
    font-size: 16px;
}
section li div h5 {
    font-size: 16px;
    font-weight: 300;
    color: var(--black-color);
}
section li p {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 300;
}
section li p span {
    color: var(--main-color);
}
.box-add {
    width: 320px;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: var(--main-rad-border-div);
    position: fixed;
    bottom: -220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000000;
    transition: var(--main-transition);
}
.box-add.show {
    bottom: 20px;
}
.box-add h3 {
    text-align: center;
    font-size: 18px;
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: 20px;
}
.box-add form .name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.box-add .name label {
    font-size: 16px;
    color: var(--black-color);
    font-size: 16px;
    width: 20%;
}
.box-add .name input {
    width: 75%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: var(--main-border);
    transition: var(--main-transition);
}
.box-add .degre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.box-add .degre div {
    display: flex;
    align-items: center;
    width: 80px;
}
.box-add .degre div label,
.box-add .degre div span {
    width: 20%;
    font-size: 14px;
    color: var(--black-color);
}
.box-add .degre div label {
    width: 40%;
}
.box-add .degre div input {
    width: calc(100% - 60%);
    padding: 2px 2px;
    outline: none;
    border: none;
    border-bottom: var(--main-border);
    transition: var(--main-transition);
    color: var(--gray-color);
}
.box-add .name input:focus,
.box-add .degre div input:focus {
    border-color: var(--main-color);
}
.box-add button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: var(--main-rad-border-btn);
    color: var(--white-color);
    background-color: var(--main-color);
    font-size: 16px;
    cursor: pointer;
    transition: var(--main-transition);
    font-weight: 300;
}
.box-add button:hover {
    background-color: var(--main-color-alt);
}
