/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* Main Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
    user-select: none;
}
:root {
    --main-color: #2176ff;
    --white-color: #fff;
    /* --black-color: #31393c; */
    --black-color: #000000;
    --gray-color: #999;
    --white-background: #f6f6f8;
    --rad-btn: 10px;
    --rad-div: 15px;
    --main-transition: 450ms;
}
body {
    background-color: var(--white-background);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Start Conteiner */
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* End Conteiner */
/* Start Ovarlay */
.ovarlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 11;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: var(--main-transition);
}
.ovarlay.show {
    pointer-events: auto;
    opacity: 1;
}
/* End Ovarlay */
/* Start Header */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    width: 100%;
    min-height: 70px;
    border-bottom: 1px solid #eee;
    z-index: 10;
}
header .container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
header .logo {
    font-size: 22px;
    color: var(--black-color);
    font-weight: bold;
}
header .setting {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background);
    border: 2px solid var(--white-color);
    outline: 1px solid var(--white-background);
    cursor: pointer;
    transition: 600ms;
}
header .setting:hover {
    transform: rotate(360deg);
}
header .setting i {
    color: var(--gray-color);
    transition: 600ms;
}
header .setting:hover i {
    color: var(--black-color);
}
/* End Header */
/* Start Welcome */
.welcome {
    margin-top: 70px;
    padding: 30px 0 20px;
}
.welcome .container > div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.welcome .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border: 2px solid var(--white-background);
    outline: 1px solid var(--white-color);
}
.welcome .avatar img {
    width: 30px;
}
.welcome h1 {
    text-align: right;
    color: var(--black-color);
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
}
.welcome p {
    font-size: 16px;
    color: var(--gray-color);
    text-align: right;
    line-height: 1.7;
}
/* End Welcome */
/* Start Priority */
.priority {
    padding: 0 20px 20px;
}
.priority .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px - 250px);
    border: 2px dashed #ddd;
    border-radius: var(--rad-div);
}
.priority .add {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.priority .add i {
    color: var(--white-color);
}
/* Start Add Priority */
.add-section {
    position: fixed;
    z-index: 12;
    width: 500px;
    height: fit-content;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: var(--rad-div);
    left: 50%;
    transform: translateX(-50%);
    bottom: -500px;
    transition: var(--main-transition);
    transition-delay: 100ms;
}
.add-section.show {
    bottom: 20px;
}
.add-section .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}
.add-section .header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #f6f6f8;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    outline: 1px solid #f6f6f8;
    margin-bottom: 10px;
}
.add-section .header .logo i {
    color: var(--black-color);
}
.add-section .header h2 {
    font-size: 22px;
    font-weight: bold;
    color: var(--black-color);
}
.add-section form .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.add-section form .name label {
    display: block;
    text-align: right;
    color: var(--black-color);
    font-size: 16px;
    font-weight: bold;
    width: 20%;
}
.add-section form .name input {
    display: block;
    text-align: right;
    width: 80%;
    height: 50px;
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: var(--rad-btn);
    outline: none;
    transition: var(--main-transition);
}
.add-section form .name input:focus {
    border-color: var(--black-color);
}
.add-section .degre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.add-section .degre div label {
    color: var(--black-color);
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.add-section .degre div div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.add-section .degre div div input {
    width: 50px;
    height: 35px;
    border: 1px solid #eee;
    border-radius: var(--rad-btn);
    margin: 0 5px;
    outline: none;
    transition: var(--main-transition);
    padding: 0 5px;
}
.add-section .degre div div input:focus {
    border-color: var(--black-color);
}
.add-section .degre div div p {
    color: var(--black-color);
    font-size: 16px;
    font-weight: bold;
}
.add-section button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: var(--rad-btn);
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
/* End Add Priority */
/* End Priority */
/* Start Media */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (max-width: 767px) {
    .add-section {
        width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .add-section.show {
        bottom: 0;
    }
    .add-section .degre {
        flex-direction: column;
    }
    .add-section .degre div:not(:last-child) {
        margin-bottom: 10px;
    }
    .add-section .degre div div input {
        width: 100%;
    }
}
/* End Media */
