/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* Main Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
    user-select: none;
}
:root {
    --main-color: #2176ff;
    --white-color: #fff;
    /* --black-color: #31393c; */
    --black-color: #000000;
    --gray-color: #999;
    --white-background: #f6f6f8;
    --rad-btn: 10px;
    --rad-div: 15px;
    --main-transition: 450ms;
}
body {
    background-color: var(--white-background);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Start Conteiner */
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* End Conteiner */
/* Start Ovarlay */
.ovarlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 11;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: var(--main-transition);
}
.ovarlay.show {
    pointer-events: auto;
    opacity: 1;
}
/* End Ovarlay */
/* Start Header */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    width: 100%;
    min-height: 70px;
    border-bottom: 1px solid #eee;
    z-index: 10;
}
header .container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
header .logo {
    font-size: 22px;
    color: var(--black-color);
    font-weight: bold;
}
header .setting {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background);
    border: 2px solid var(--white-color);
    outline: 1px solid var(--white-background);
    cursor: pointer;
    transition: 600ms;
}
header .setting:hover {
    transform: rotate(360deg);
}
header .setting i {
    color: var(--gray-color);
    transition: 600ms;
}
header .setting:hover i {
    color: var(--black-color);
}
/* End Header */
/* Start Welcome */
.welcome {
    margin-top: 70px;
    padding: 30px 0 0;
}
.welcome .container > div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.welcome .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border: 2px solid var(--white-background);
    outline: 1px solid var(--white-color);
}
.welcome .avatar img {
    width: 30px;
}
.welcome h1 {
    text-align: right;
    color: var(--black-color);
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
}
.welcome p {
    font-size: 16px;
    color: var(--gray-color);
    text-align: right;
    line-height: 1.7;
}
/* End Welcome */
/* Start Noots */
.noots {
    position: relative;
    padding: 20px 0;
}
.noots .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}
.noots .noot-item {
    position: relative;
    min-height: 200px;
    border-radius: var(--rad-div);
    overflow: hidden;
    cursor: pointer;
}
.noots .noot-item::after,
.noots .noot-item::before{
    content: "";
    position: absolute;
    border-radius: 20px;
    background-color: var(--white-color);
    transition: var(--main-transition);
}
.noots .noot-item::after{
    top: 50%;
    left: -30px;
    width: 100px;
    height: 100px;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0.2;
}
.noots .noot-item::before{
    top: 50%;
    left: -30px;
    width: 300px;
    height: 300px;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0.1;
}
.noots .noot-item:hover::before {
    left: -250px;
}
.noots .noot-item:hover::after {
    left: -60px;
}
.noots .noot-item h3 {
    color: var(--white-color);
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 0;
}
/* End Noots */
/* Start Add Noots */
.add-noot {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: var(--black-color);
    z-index: 1;
    padding: 10px;
    border-radius: var(--rad-btn);
    color: var(--white-color);
    cursor: pointer;
    font-size: 18px;
}
.add-noot i {
    margin-left: 5px;
    font-size: 14px;
}
/* End Add Noots */
/* Start Add New Note */
.add-new-note {
    position: fixed;
    z-index: 2;
    width: 500px;
    height: fit-content;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: var(--rad-div);
    left: 50%;
    transform: translateX(-50%);
    bottom: -500px;
    transition: var(--main-transition);
    transition-delay: 100ms;
    z-index: 12;
}
.add-new-note.show {
    bottom: 20px;
}
.add-new-note .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}
.add-new-note .header h3 {
    font-size: 22px;
    font-weight: bold;
    color: var(--black-color);
    margin-top: 10px;
}
.add-new-note .header div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #f6f6f8;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    outline: 1px solid #f6f6f8;
    margin-bottom: 5px;
}
.add-new-note .header div i {
    color: var(--black-color);
}
.add-new-note form {
    width: 100%;
    margin-bottom: 20px;
}
.add-new-note form div {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.add-new-note form div:not(:last-child) {
    margin-bottom: 10px;
}
.add-new-note form div label {
    color: var(--black-color);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.add-new-note form div input,
.add-new-note form div textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: var(--rad-btn);
    outline: none;
    text-align: right;
}
.add-new-note form div input {
    height: 40px;
}
.add-new-note form div textarea {
    height: 200px;
    resize: none;
}
.add-new-note button {
    width: 100%;
    height: 40px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: var(--rad-btn);
    cursor: pointer;
}
/* End Add New Note */
/* Start Media */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (max-width: 767px) {
    .add-new-note {
        width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .add-new-note.show {
        bottom: 0;
    }
}
/* End Media */
